@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "roboto", sans-serif;
}
